
.popular-shows{
    font-weight: 500;
    font-size: 40px;
}


.loader{
     position: absolute; 
     top: calc(50% - 150px); 
     left: calc(50% - 150px); 
     width: 6em; 
     height: 6em; 
}

.shows-content{
    min-height: 100%;
    text-align: center;
    margin: 0 auto;
}