.show-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,250px));
    margin-top: 60px;
    grid-gap: 60px;
}
.show-info-img img{
    width: 100%;
    height: 100%;
    box-shadow: 1px 0px 5px 0px black;
}
.show-info-description h1{
    border-bottom: 1px solid rgb(188, 195, 202);
    font-size: 40px;
    font-weight: 100;
    line-height: 1.4;
    color: #000000ad;
}

.show-info-description h3{
    margin-top: 10px;
    font-size: 30px;
}

.show-info-description h4{
    margin-top: 20px;
    font-size: 30px;
}
.show-info-description p{
    margin-top: 20px;
}